body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.statusContainer { 
  position:absolute; 
  top:20; 
  left:0; 
  margin:0 10%; 
  padding:10%;
  background-color:antiquewhite; 
  border:solid 2px black; 
}
.status {
  padding-bottom: 10px;
  background-color:coral; 
}

.square {
  background: lightgreen;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game{
  display: flex;
  flex-direction: row;
}

.game-board {
  margin-left: 20px;
}

.game-video {
  margin-left: 0px;
  position:relative; 
  width:  92px;
  bottom:0px;
  right: 0px; 
  padding:3px; 
  margin:0px;
  border:solid 1px green; 
  background-color:#f0f0f0; 
}

